<div style="margin: 2%">
<img [src]="image" class="img-fluid" alt="Responsive image" style="width: 50rem; float: left">


  <p style="padding: 5%;color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 36px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;">
    {{ text }}
  </p>
  <div style="margin-left:5%;width: 50rem; float: left">
  <p style="color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px;">
    {{ text }}
  </p>
  </div>
</div>
